
@{
    ViewData["Title"] = "ForgotPassword";
}

<h1>ForgotPassword</h1>
<form method="post" asp-action="ForgotPassword">
    <input name="FullName" type="text" />
    <input name="Email" type="text" />
    <input name="NewPass" type="text" />

    <button type="submit">submit</button>
</form>
