
@{
    ViewData["Title"] = "Login";
}

<h1>Login</h1>

<form method="post" asp-action="Login">
    <input name="Email" type="text" />
    <input name="Password" type="text" />
    <button type="submit">Login</button>
</form>
