
@model WebApp.ViewModel.ResponseLogin

@{

    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="container">
        <div class="card">
            <div class="card-body">
                <p><string>FullName</string> : @Html.DisplayFor(model => model.FullName)</p>
                <p><string>Email</string> :  @Html.DisplayFor(model => model.Email)</p>
                <p><string>Role</string> : @Html.DisplayFor(model => model.Role)</p>
            </div>
        </div>
        <a asp-action="ChangePassword" asp-controller="Account">Change Password</a>
        <a asp-action="ForgotPassword" asp-controller="Account">Forgot Password</a>
        

    </div>
</div>


